@model BookStore.Models.Book

@{
    ViewData["Title"] = "Add New Book";
}

<!DOCTYPE html>

<div class="text-center">
    <h4>New Book</h4>
    <hr />
    <div class="row text-center">
        <div class="col-md-4">
            <form asp-action="Create" asp-controller="Book" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Pagecount" class="control-label"></label>
                    <input asp-for="Pagecount" class="form-control" />
                    <span asp-validation-for="Pagecount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Point" class="control-label"></label>
                    <input asp-for="Point" class="form-control" />
                    <span asp-validation-for="Point" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AuthorId" class="control-label"></label>
                    @Html.DropDownList("authorList", null, new { @id = "AuthorId" })
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    @Html.DropDownList("categoryList", null, new { @id = "CategoryId" })
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        @Html.ActionLink("Back to List", "Index", "Home")

    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</div>
